---
// Import the Image component for handling images and getCollection function for fetching project data
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

// Fetch the collection of projects named "proyectos"
const projects = await getCollection("proyectos");

// Import custom components for use within this component
import ProjectCard from "./ProjectCard.astro";
import PrimaryButton from "./PrimaryButton.astro";

// Extract the grid size from props, defaulting to "small"
let { grid = "small" } = Astro.props;

// Default settings for the number of projects to display and visibility classes
let maxProjects = 3;
let hideP = "hidden";
let hidePa = "block";

// Adjust settings based on the grid size
if (grid === "large") {
  hideP = "block";
  hidePa = "hidden";
  maxProjects = 6; // Increase the number of projects displayed for large grids
}
---

<div class="container max-w-[1440px] p-2 md:p-4 xlg:p-0 bg-orion-blue-50 mx-auto">
  <div class="px-2 sm:px-4 md:px-6 lg:px-12 py-12 sm:py-12 text-orion-gray-600 flex flex-col gap-4">
    <!-- Heading and paragraph visibility is controlled by the grid size -->
    <h2 class={`text-3xl font-bold ${hidePa} `}>Proyectos Recientes</h2>
    <p class={`w-full md:w-1/2 p-2  text-orion-gray-950 ${hidePa}`}>
      Explora nuestra selección de proyectos recientes y descubre cómo nuestra experiencia y dedicación se traducen en resultados excepcionales. Cada
      proyecto es un testimonio de nuestra pasión por la excelencia y nuestro compromiso con la calidad.
    </p>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 pb-6 px-2 sm:pb-12 sm:px-6 lg:px-12 text-orion-gray-600">
    <!-- Display a subset of projects based on the maxProjects value -->
    {
      projects
        .slice(0, maxProjects)
        .map((project) => (
          <ProjectCard
            title={project.data.title}
            description={project.data.description}
            src={project.data.cover_image}
            link={`/proyectos/${project.slug}`}
          />
        ))
    }
  </div>
  <div class={`w-full flex justify-end px-12 pb-12 ${hidePa}`}>
    <!-- A button to navigate to the projects page, visibility controlled by grid size -->
    <PrimaryButton label="Saber Más" href="/proyectos" />
  </div>
</div>
